<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="slack-app-id" content="AM2909KBK">
    <title>Delega</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-gray-100">
    <header>
      <div class="text-center mt-8">
          <a href="<%= DelegaWeb.Router.Helpers.page_path(DelegaWeb.Endpoint, :index) %>"><img class="inline-block" src='<%= Routes.static_path(@conn, "/images/delega-logo.svg")%>' width="200" /></a>
      </div>
    </header>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <p class="mx-10 my-3  text-gray-700 font-light mb-2 text-sm text-center"><span class="font-bold">Need help?</span><br/><a href="mailto:support@delega.app">support@delega.app</a></p>

      <p class="my-3 text-gray-500 font-light mb-2 text-sm text-center content-center">Copyright &copy; 2019</p>

      <p class="my-3 text-gray-500 font-light text-sm text-center"><a href="<%= DelegaWeb.Router.Helpers.page_path(DelegaWeb.Endpoint, :privacy) %>">Privacy Policy</a></p>
    </footer>
  </body>
</html>
