<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Delega</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-gray-100">
    <header>

    </header>
    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <%# <div class="mt-12 bg-gray-800 flex flex-row justify-center w-full p-8 h-full">
        <div class="max-w-2xl mx-auto">
          <p class="text-gray-300 font-light mb-2 text-sm">Copyright &copy; 2019 Kyle Johnson. All rights reserved.</p>

          <div>
            <h4 class="mt-4 font-medium text-gray-200">Privacy Policy</h4>
            <p class="text-gray-300 font-light mb-2 text-sm">Delega does not use or store any personal information.</p>
          </div>

          <div>
            <h4 class="mt-4 font-medium text-gray-200">License</h4>

            <p class="text-gray-300 font-light text-sm">
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
            EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
            MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
            IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
            OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
            ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
            OTHER DEALINGS IN THE SOFTWARE.</p>
          </div>
        </div>
      </div> %>

      <p class="text-gray-500 font-light mb-2 text-sm text-center">Copyright &copy; 2019 Kyle Johnson. All rights reserved.</p>
    </footer>
  </body>
</html>
