<div class="min-w-screen">
    <div class="px-6 py-6 sm:px-12 sm:py-8 m-auto container max-w-3xl">
        <h2 class="text-6xl text-center">✅</h2>

        <h2 class="text-3xl sm:text-6xl text-gray-900 text-center leading-none font-light">You've successfully added Delega to Slack.</h2>
        
        <%# <h3 class="text-2xl sm:text-3xl text-gray-800 text-center my-10 font-hairline">Here are a few tips to get you started.</h3>    %>

        <%= render "_guide.html" %>
    </div>
</div>